[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	sslVerify = false
[credential]
	helper = "!f() { /root/ai-agent/.vscode-server/bin/38c31bc77e0dd6ae88a4e9cc93428cc27a56ba40/node /tmp/vscode-remote-containers-f6e7b593-2a25-4468-af9a-d6d25cceec55.js git-credential-helper $*; }; f"
[user]
	email = c95hhh@ncsist.org.tw
	name = c95hhh
